<div class="error-popup">
    
    <h1 class="text-danger">Error.</h1>
    <p>@ViewBag.ErrorMessage</p>
</div>

<script>
    setTimeout(function (){
        window.local.href = "@Url.Action("Index", "Issues")";
        }, 3000);
</script>
