<!-- HTML для модального окна -->
<div id="apiKeyModal" class="modal show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вход</h5>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="useApiKey"/>
                    <label class="form-check-label" for="useApiKey">Использовать API-ключ</label>
                </div>
                <input id="apiKeyInput" type="text" class="form-control authInput modal-auth" placeholder="API-ключ" style="display: none;"/>
                <input id="usernameInput" type="text" class="form-control authInput modal-auth" placeholder="Логин"/>
                <input id="passwordInput" type="password" class="form-control authInput modal-auth" placeholder="Пароль"/>
                <div id="error" class="alert-danger alert" style="display: none;">Неверные данные для входа</div>
            </div>
            <div class="modal-footer">
                <button id="submitButton" type="button" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript для отображения модального окна при загрузке страницы -->
<script src="~/js/auth.js"></script>
